<form action="<%= cat.persisted? ? cat_url(cat) : cats_url %>" method="POST">
  <% if cat.persisted? %>
  <input type="hidden" name="_method" value="PATCH">
  <% end %>
  
  <label for="cat_name">Name</label>
  <br>
  <input type="text" name="cat[name]" id="cat_name" value="<%= cat.name %>">
  
  <br>
  
  <label for="cat_age">Age</label>
  <br>
  <input type="text" name="cat[age]" id="cat_age" value="<%= cat.age %>">
  
  <br><br>
  
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F" 
   <%= "checked" if cat.sex == "F" %> >
  <label for="cat_sex_female">Female</label>
  <br>
  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M"
    <%= "checked" if cat.sex == "M" %> >
  <label for="cat_sex_male">Male</label>
  
  <br><br>
  
  <label for="cat_color">Color</label>
  <br>
  <select name="cat[color]" id="cat_color">
  <option value="" />
  <% Cat::COLORS.each do |color| %>
    <option value="<%= color %>" <%="selected" if cat.color == color %>>
      <%= color %></option>
  <% end %>
  </select>
  
  <br><br>
  
  <label for="cat_birth_date">Birth Date</label>
  <br>
  <input type="date" name="cat[birth_date]" id="cat_birth_date" value="<%= cat.birth_date.strftime("%Y-%m-%d") unless cat.birth_date.nil? %>">
  
  <br><br>
  
  <label for="cat_description">Description</label>
  <br>
  <textarea name="cat[description]" id="cat_description"><%= cat.description %></textarea>
  <br>
  <input type="submit" value="Save cat">
</form>