<table>
  <% @cat.attributes.each do |name, value| %>
  <tr>
    <td><%= name %></td>
    <td><%= value %></td>
  </tr>
  <% end %>
</table>

<div id="requests">
  <div class="header">Start Date</div><div class="header">End Date</div>
  <% @cat.rental_requests.order(:start_date).each do |req| %>
    <div class="request">
      <div class="date"><%= req.start_date %></div>
      <div class="date"><%= req.end_date %></div>
      <div class="id"><%= req.id %></div>
      
      <% if req.pending? %>
      <div class="approval">
        <%= button_to "Approve", approve_cat_rental_request_url(req), method: :get %>
        <%= button_to "Deny", deny_cat_rental_request_url(req), method: :get %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>