

<div class="cat-info">
  <div class="image">
    <img src="http://placekitten.com/300/300" />
  </div>
  
  <h2><%= @cat.name %></h2>

  <div id="cats">
    <% @display_attrs.each do |name, value| %>
    <div class="attribute">
      <div class="name"><%= name.humanize %></div>
      <div class="value"><%= value %></div>
    </div>
    <% end %>
    <div class="attribute">
      <div class="name">Description</div>
      <div class="value"><%= @cat.description %></div>
    </div>
  </div>
</div>

<br>

<div class="req-info">
  <h3>Rental Requests</h3>
  <%= render partial: "cat_rental_requests/new", locals: { request: @request } %>
  <div id="requests">
    <div class="header">Start Date</div>
    <div class="header">End Date</div>
    <div class="header">Status</div>
    
    <% if @requests.any? { |r| r.pending? } %>
    <div class="header">Approve</div>  
    <% end %> 
  
    <% @requests.each do |req| %>
      <div class="request">
        <div class="date"><%= req.start_date %></div>
        <div class="date"><%= req.end_date %></div>
        <div class="status"><%= req.status.capitalize %></div>
      
        <% if req.pending? %>
        <div class="approval">
          <%= link_to "Approve", approve_cat_rental_request_url(req) %> / 
          <%= link_to "Deny", deny_cat_rental_request_url(req) %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


